<h2>Edit a question:</h2>
<%= form_tag("/questions/#{@question.question_id}", method: :put) do %>

    <%= hidden_field_tag :article_id, @question.article_id %>

    <p>
      <%= label_tag :body %><br>
      <%= text_area_tag :body, @question.body %>
    </p>

    <div><%= submit_tag 'Save' %></div>
<% end %>